<!DOCTYPE html>
<html lang="en">

	<head>

	<meta charset="utf-8">
	<meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
	<meta name="description" content="">
	<meta name="author" content="">
	<link href="https://fonts.googleapis.com/css?family=Raleway:100,200,300,400,500,600,700,800,900&display=swap" rel="stylesheet">

	<title>Kirim Ulang Respon - BC Soetta</title>

	<!-- Additional CSS Files -->
	<link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='css/bootstrap.min.css') }}">
	<link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='css/font-awesome.css') }}">
	<link rel="stylesheet" href="{{ url_for('static', filename='css/templatemo-breezed.css') }}">
	<link rel="stylesheet" href="{{ url_for('static', filename='css/owl-carousel.css') }}">
	<link rel="stylesheet" href="{{ url_for('static', filename='css/lightbox.css') }}">
	<link rel="stylesheet" href="{{ url_for('static', filename='css/my-style.css') }}">
	</head>

	<body>
	
	<!-- ***** Preloader Start ***** -->
	<div id="preloader">
		<div class="jumper">
			<div></div>
			<div></div>
			<div></div>
		</div>
	</div>
	<!-- ***** Preloader End ***** -->

	<!-- ***** Header Area Start ***** -->
	<header class="header-area header-sticky">
		<div class="container">
			<div class="row">
				<div class="col-12">
					<nav class="main-nav">
						<!-- ***** Logo Start ***** -->
						<a href="index.html" class="logo">
							RESPON
						</a>
						<!-- ***** Logo End ***** -->
						<!-- ***** Menu Start ***** -->
						<ul class="nav">
							<li class="scroll-to-section"><a href="https://tiket.bcsoetta.org/client/view_knowledge/14" target="_blank">Info</a></li>
							<!-- <li class="scroll-to-section"><a href="#about">About</a></li> -->
						</ul>
						<a class='menu-trigger'>
							<span>Menu</span>
						</a>
						<!-- ***** Menu End ***** -->
					</nav>
				</div>
			</div>
		</div>
	</header>
	<!-- ***** Header Area End ***** -->

	<!-- ***** Main Banner Area Start ***** -->
	<div class="main-banner header-text" id="top">
		<div class="Modern-Slider">
		  <!-- Item -->
		  <div class="item">
			<div class="img-fill">
				<img src="{{ url_for('static', filename='images/slide-02.jpg') }}" alt="">
				<div class="text-content">
					<h5>Kirim Ulang Respon</h5>
					<div id="subscribe" class="container">
						<form id="request-respon" action="" method="get">
							<div class="col-lg-10 offset-lg-1">
								<div class="row" style="margin-bottom: 15px;">
									<div class="col-md-2 col-sm-12">
										<fieldset>
											<select name="jenis" id="jnsaju" required="">
												<option selected="" disabled="" hidden="">Pilih Aju</option>
												<!-- <option>PIB</option> -->
												<option>PEB</option>
												<option>Manifest</option>
											</select>
										</fieldset>
									</div>
									<div class="col-md-9 col-sm-10">
										<fieldset>
											<input name="noaju" type="text" id="noaju" placeholder="Isikan nomor aju lengkap..." required="" minlength="26" maxlength="26">
										</fieldset>
									</div>
									<div class="col-md-1 col-sm-2">
										<fieldset>
											<button type="submit" id="form-submit" class="main-button"><i class="fa fa-search fa-lg"></i></button>
										</fieldset>
									</div>
								</div>
							</div>
						</form>
					</div>
				</div>
			</div>
		  </div>
		</div>
	</div>
	<!-- ***** Main Banner Area End ***** -->
	
	<!-- ***** Contact Us Area Starts ***** -->
	<section class="section" id="result">
		<div class="container">
			<div class="row">
				<div class="col-lg-12">
					<div class="section-heading">
						<h2>Respon</h2>
					</div>
					<div class="result-content">
						<table id="table-result" class="table table-striped">
							<thead>
								<tr>
									<th>Waktu</th>
									<th>Status</th>
								</tr>
							</thead>
							<tbody>

							</tbody>
						</table>
					</div>
				</div>
			</div>
		</div>
	</section>
	<!-- ***** Contact Us Area Ends ***** -->
	
	<!-- ***** Footer Start ***** -->
	<footer>
		<div class="container">
			<div class="row">
				<div class="col-lg-6 col-xs-12">
					<div class="left-text-content">
						<p>Copyright &copy; <a href="https://tiket.bcsoetta.org" target="_blank">Duktek Soetta</a> 

						- Design: <a rel="nofollow noopener" href="https://templatemo.com" target="_blank">TemplateMo</a></p>
					</div>
					<div id="log"></div>
				</div>
			</div>
		</div>
	</footer>
	

		<!-- jQuery -->
		<script src="{{ url_for('static', filename='js/jquery-2.1.0.min.js') }}"></script>

		<!-- Bootstrap -->
		<script src="{{ url_for('static', filename='js/popper.js') }}"></script>
		<script src="{{ url_for('static', filename='js/bootstrap.min.js') }}"></script>

		<!-- Plugins -->
		<script src="{{ url_for('static', filename='js/owl-carousel.js') }}"></script>
		<script src="{{ url_for('static', filename='js/scrollreveal.min.js') }}"></script>
		<script src="{{ url_for('static', filename='js/waypoints.min.js') }}"></script>
		<script src="{{ url_for('static', filename='js/jquery.counterup.min') }}.js"></script>
		<script src="{{ url_for('static', filename='js/imgfix.min.js') }}"></script> 
		<script src="{{ url_for('static', filename='js/slick.js') }}"></script> 
		<script src="{{ url_for('static', filename='js/lightbox.js') }}"></script> 
		<script src="{{ url_for('static', filename='js/isotope.js') }}"></script> 

		<!-- Global Init -->
		<script src="{{ url_for('static', filename='js/custom.js') }}"></script>

		<!-- My Script -->
		<script src="{{ url_for('static', filename='js/myscript.js') }}"></script>
		<script src="//cdnjs.cloudflare.com/ajax/libs/socket.io/2.2.0/socket.io.js" integrity="sha256-yr4fRk/GU1ehYJPAs8P4JlTgu0Hdsp4ZKrx8bDEDC3I=" crossorigin="anonymous"></script>
		<script type="text/javascript" charset="utf-8">
			$(document).ready(function() {

				var socket = io();

				socket.on('my_response', function(msg, cb) {
					$('#table-result > tbody').append(`<tr><td>${msg.time}</td><td>${msg.data}</td></tr>`);
					if (cb)
						cb();
					if (msg.is_end == true) {
						$('form#request-respon button#form-submit > i').removeClass('fa-spinner fa-pulse');
						$('form#request-respon button#form-submit > i').addClass('fa-search');
						$('form#request-respon button#form-submit').prop('disabled', false);
					};
				});

				$('form#request-respon').submit(function(event) {
					$('#table-result > tbody').empty();
					$('form#request-respon button#form-submit > i').toggleClass('fa-spinner fa-pulse fa-search');
					$('form#request-respon button#form-submit').prop('disabled', true);
					socket.emit('request_respon', {jnsaju: $('#jnsaju').val(), noaju: $('#noaju').val()});
					return false;
				});
			});
		</script>

	</body>
</html>