<!DOCTYPE html>
<html lang="en">

    <head>

    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <meta name="description" content="">
    <meta name="author" content="">
    <link href="https://fonts.googleapis.com/css?family=Raleway:100,200,300,400,500,600,700,800,900&display=swap" rel="stylesheet">

    <title>my app</title>

    <!-- Additional CSS Files -->
    <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='css/bootstrap.min.css') }}">

    <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='css/font-awesome.css') }}">

    <link rel="stylesheet" href="{{ url_for('static', filename='css/templatemo-breezed.css') }}">

    <link rel="stylesheet" href="{{ url_for('static', filename='css/owl-carousel.css') }}">

    <link rel="stylesheet" href="{{ url_for('static', filename='css/lightbox.css') }}">

    </head>

    <body>
    
    <!-- ***** Preloader Start ***** -->
    <div id="preloader">
        <div class="jumper">
            <div></div>
            <div></div>
            <div></div>
        </div>
    </div>  
    <!-- ***** Preloader End ***** -->
    
    <!-- ***** Message Start ***** -->
		<div id="my-message" class="alert alert-primary col-md-8">
			<!-- message from click response -->
		</div>
		<!-- ***** Message End ***** -->

    <!-- ***** Header Area Start ***** -->
    <header class="header-area header-sticky">
        <div class="container">
            <div class="row">
                <div class="col-12">
                    <nav class="main-nav">
                        <!-- ***** Logo Start ***** -->
                        <a href="index.html" class="logo">
                            RESPON
                        </a>
                        <!-- ***** Logo End ***** -->
                        <!-- ***** Menu Start ***** -->
                        <ul class="nav">
                            <li class="scroll-to-section"><a href="#top" class="active">Home</a></li>
                            <li class="scroll-to-section"><a href="#about">About</a></li>
                        </ul>        
                        <a class='menu-trigger'>
                            <span>Menu</span>
                        </a>
                        <!-- ***** Menu End ***** -->
                    </nav>
                </div>
            </div>
        </div>
    </header>
    <!-- ***** Header Area End ***** -->

    <!-- ***** Main Banner Area Start ***** -->
    <div class="main-banner header-text" id="top">
        <div class="Modern-Slider">
          <!-- Item -->
          <div class="item">
            <div class="img-fill">
                <img src="{{ url_for('static', filename='images/slide-02.jpg') }}" alt="">
                <div class="text-content">
                  <h5>Kirim Ulang Respon</h5>
                  <div id="subscribe" class="container">
                  	<form id="request-respon" action="" method="get">
	                    <div class="col-lg-10 offset-lg-1">
		                    <div class="row" style="margin-bottom: 15px;">
		                    	<div class="col-md-2 col-sm-12">
		                    		<fieldset>
	                            <select name="jenis">
	                            	<option selected="" disabled="" hidden="">Pilih Aju</option>
	                            	<option>PIB</option>
	                            	<option>PEB</option>
	                            	<option>Manifest</option>
	                            </select>
	                          </fieldset>
		                    	</div>
	                    		<div class="col-md-10 col-sm-12">
	                          <fieldset>
	                            <input name="noaju" type="text" id="noaju" placeholder="Isikan nomor aju lengkap..." required="" minlength="26" maxlength="26">
	                          </fieldset>
	                        </div>
	                    	</div>
                        <div class="row">
                        	<div class="col-md-2 col-sm-6">
                        		<label>
	                        		Tanggal respon	
                        		</label>
                        	</div>
                        	<div class="col-md-4 col-sm-6">
                        		<fieldset>
                        			<input type="date" name="tglawal">
                        		</fieldset>
                        	</div>
                        	<div class="col-md-1 col-sm-6">
                        		<label>
                        			s.d.
                        		</label>
                        	</div>
                        	<div class="col-md-4 col-sm-6">
                        		<fieldset>
                        			<input type="date" name="tglakhir">
                        		</fieldset>
                        	</div>
                        	<div class="col-md-1 col-sm-12">
	                          <fieldset>
	                            <button type="submit" id="form-submit" class="main-button"><i class="fa fa-search fa-lg"></i></button>
	                          </fieldset>
	                        </div>
                        </div>
	                    </div>
		                </form>
                  </div>
                </div>
            </div>
          </div>
          <!-- // Item -->
        </div>
    </div>
    <!-- ***** Main Banner Area End ***** -->
    
    <!-- ***** Contact Us Area Starts ***** -->
    <section class="section" id="result">
        <div class="container">
        	<div class="row">
        		<div class="col-lg-12">
        			<div class="section-heading">
        				<h2>Respon</h2>
        			</div>
        			<div class="result-content">
        				<table id="table-result" class="table table-striped">
									<thead>
										<tr>
											<th>Tanggal Respon</th>
											<th>Jenis Respon</th>
											<th>No BC 1.0</th>
											<th>No BC 1.1</th>
											<th></th>
										</tr>
									</thead>
        					<tbody>

        					</tbody>
        				</table>
        			</div>
        		</div>
        	</div>
        </div>
    </section>
    <!-- ***** Contact Us Area Ends ***** -->
    
		<!-- ***** Footer Start ***** -->
		<footer>
			<div class="container">
				<div class="row">
					<div class="col-lg-6 col-xs-12">
						<div class="left-text-content">
							<p>Copyright &copy; <a href="https://sh1.tech">Duktek Soetta</a> 

							- Design: <a rel="nofollow noopener" href="https://templatemo.com">TemplateMo</a></p>
						</div>
					</div>
				</div>
			</div>
		</footer>
    

    <!-- jQuery -->
    <script src="{{ url_for('static', filename='js/jquery-2.1.0.min.js') }}"></script>

    <!-- Bootstrap -->
    <script src="{{ url_for('static', filename='js/popper.js') }}"></script>
    <script src="{{ url_for('static', filename='js/bootstrap.min.js') }}"></script>

    <!-- Plugins -->
    <script src="{{ url_for('static', filename='js/owl-carousel.js') }}"></script>
    <script src="{{ url_for('static', filename='js/scrollreveal.min.js') }}"></script>
    <script src="{{ url_for('static', filename='js/waypoints.min.js') }}"></script>
    <script src="{{ url_for('static', filename='js/jquery.counterup.min') }}.js"></script>
    <script src="{{ url_for('static', filename='js/imgfix.min.js') }}"></script> 
    <script src="{{ url_for('static', filename='js/slick.js') }}"></script> 
    <script src="{{ url_for('static', filename='js/lightbox.js') }}"></script> 
    <script src="{{ url_for('static', filename='js/isotope.js') }}"></script> 
    
    <!-- Global Init -->
    <script src="{{ url_for('static', filename='js/custom.js') }}"></script>

    <!-- My Script -->
    <script src="{{ url_for('static', filename='js/myscript.js') }}"></script>

    <script type="text/javascript">
    	$('#request-respon').submit(function(e) {
    		e.preventDefault();
    		$('#table-result > tbody').empty();
    		tglawal = $('input[name="tglawal"]').val()
    		tglakhir = $('input[name="tglakhir"]').val()
    		noaju = $('input[name="noaju"]').val()
    		$.ajax({
	    		url: 'respon',
	    		method: 'GET',
	    		data: {'tglawal': tglawal, 'tglakhir': tglakhir, 'aju': noaju},
	    		success: function(result) {
	    			if (result[0] == 'respon') {
		    			displayTable(result[1]);	
	    			} else {
	    				$('#my-message').removeClass('alert-primary');
							$('#my-message').addClass('alert-danger');
							$('#my-message').html(result[1]);
							$('#my-message').css('display', 'block');
							$('#my-message').delay(3000).fadeOut();
	    			}
	    		}
	    	})
    	})

		  $("#noaju").inputFilter(function(value) {
		    return /^\d*$/.test(value);    // Allow digits only, using a RegExp
		  });
    	
    	function displayTable(result) {
				rows = ''
    		$.each(result, function (index, value) {
					row = `
						<tr>
							<th>${value[3]}</th>
							<th>${value[0]}</th>
							<th>${value[1]}</th>
							<th>${value[2]}</th>
							<th>
								<a href="#" class="btn-action" id="${value[4]}">Kirim</a>
							</th>
						</tr>
					`
					rows += row;
				})
				$('#table-result > tbody').html(rows);
			}

			$(document).on('click', '.btn-action', function(e) {
				e.preventDefault();
				idButton = $(this).attr('id');
				$.ajax({
					url: 'click',
					method: 'GET',
					data: {'id': idButton},
					success: function(result) {
						console.log(result);
						if (result[0] == 0) {
							$('#my-message').removeClass('alert-primary');
							$('#my-message').addClass('alert-danger');
						} else {
							$('#my-message').removeClass('alert-danger');
							$('#my-message').addClass('alert-primary');
						}
						$('#my-message').html(result[1]);
						$('#my-message').css('display', 'block');
						$('#my-message').delay(3000).fadeOut();
					},
					error: function() {
						$('#my-message').removeClass('alert-primary');
						$('#my-message').addClass('alert-danger');
						$('#my-message').html('Server eror, silakan hubungi Duktek Soetta');
						$('#my-message').css('display', 'block');
						$('#my-message').delay(3000).fadeOut();
					}
				});
    	});
    </script>

  </body>
</html>